<?xml version="1.0"?>
<launch>
	<arg name="package" value="amr-hw2" />
	<arg name="package_path" value="$(find amr-hw2)" />

	<include file="$(arg package_path)/launch/inspection.launch" />
	<include file="$(arg package_path)/launch/waypoints.launch" />
	<node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree" />
</launch>
